.img_fon{
    max-width: 50vw;
    max-height: 100vh;
}
.v-application .title {
    font-size:2.2rem!important;
}
.v-responsive__sizer{
    padding-bottom: 20px;
}
@media screen and (max-width: 990px) {
    .img_fon{
        max-width: 100%;
        max-height: 30vw;
    }
    .container_card{
        width: 80%;
    }
    .v-application .align-center{
        padding-right: 20%;
        position:fixed;
        top: 0px;
        z-index: 10000;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
}
@media screen and (max-width: 460px) {
    .container_card{
        width: 100%;
    }
    .v-application .align-center{
        padding-right: 0%;
    }
}
@media screen and (min-width: 990px) {
    .btn_ma{
        margin: 0px 20px;
    }

}
@media screen and (max-width: 350px) {

    .v-btn:not(.v-btn--round).v-size--default{
        margin: 3px;
        padding: 0px;
        font-size: 10px;
    }
}