<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" href="css/style.css">
</head>


<div id="app">
  <v-app>
    <v-main>
        <div class="d-flex flex-wrap-reverse">
          <v-card
            class="mx-auto container_card"
            style="box-shadow: none ; "> 

            <v-form
              ref="form"
              v-model="form"
              class=""
              method="post"
            >
            <v-card-text class="d-flex justify-center align-center" style="font-size: 28px; ">
              <img class="" src="img/Logo-full.png"/>  HR.HH
            </v-card-text>
            <v-card-title class="title justify-center">
              Войти в аккаунт
            </v-card-title>
              <v-text-field
                v-model="login"
                :rules="[rules.login]"
                filled
                color="deep-purple"
                label="Логин"
                type="text"
              ></v-text-field>
              <v-text-field
                v-model="userCheckword"
                :rules="[rules.userCheckword]"
                filled
                color="deep-purple"
                label="контрольная строка"
                type="text"
              ></v-text-field>
              <v-text-field
              v-model="password"
              :rules="[rules.password, rules.length(6)]"
              filled
              color="deep-purple"
              counter="8"
              label="Пароль"
              type="password"
            ></v-text-field>
            <v-text-field
              v-model="repeatPassword"
              :rules="[rules.repeatPassword, rules.length(6)]"
              filled
              color="deep-purple"
              counter="8"
              label="Подтверждение пароля"
              type="password"
            ></v-text-field>
            </v-form>

            <v-card-actions class="pa-0">
              <v-btn
                text
                @click="$refs.form.reset()"
                class="btn_ma"
                style="background-color: rgba(109, 174, 129, 1); color: white;"
              >
                Стереть
              </v-btn>
              <v-spacer></v-spacer>
              <v-label> <a href="auth.php" style="color: rgba(109, 174, 129, 1);">авторизация</a></v-label>
              <v-spacer></v-spacer>
              <v-btn
                :disabled="!form"
                :loading="isLoading"
                class="white--text btn_ma"
                style="background-color: rgba(109, 174, 129, 1); color: white;"
                @click="send"
              >
                сменить пароль
              </v-btn>
            </v-card-actions>
            <v-card-text class="d-flex justify-center align-content-end">
              Разработано в <img class="pa-1" src="img/Eng.png"/>  
            </v-card-text>

          </v-card>
          <v-card
            class="div-img-fon d-flex"
            style="box-shadow: none;">             
            <v-img class="img_fon"
            src="img/Frame.png"></v-img>
          </v-card>
          </div>
    </v-main>
  </v-app>
</div>







<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: () => ({
      agreement: false,
      name: undefined,
      form: false,
      isLoading: false,
      password: undefined,
      rules: {
        userCheckword: v => !!(v || '').match(/^(?=.*[1-9])/) || 'ведите код из почты',
        login: v => !!(v || '').match(/^(?=.*[a-z])/) || 'ведите логин',
        length: len => v => (v || '').length >= len || `Invalid character length, required ${len}`,
        password: v => !!(v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
          'ведите пароль со всмеми условиями ',
        repeatPassword:v => !!(v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
          'ведите повторно пароль',
        required: v => !!v || 'This field is required',
      },
      }),

    })
</script>