<!DOCTYPE html>
<html lang="en">
<head>
  <link href="css/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<div id="app">
    <v-app>
      <v-main>
        <v-toolbar color="rgba(0, 0, 0, 0,)" >
            <div class="pl-5">hh-api</div>
            <v-spacer></v-spacer>
            <div class="pr-5">
                <v-btn style="background-color: rgb(109, 174, 129); color: white;"><v-icon>mdi-cached</v-icon> обновить</v-btn>
            </div> 
        </v-toolbar>
        <v-divider></v-divider>
        <v-tabs>
          <v-tab>резюме наших сотрудников</v-tab>
          <v-tab>БД зароботных плат</v-tab>
        </v-tabs>
        <v-divider></v-divider>
        <div onclick="menu()" id="burger" class="header__burger ma-4">
          <span></span>
        </div>
        <v-sheet class="d-flex flex-row" >
          <v-sheet class="ma-3"  id="card">
                    <v-sheet class="d-flex mb-3">
                      В поисках работы 31 сотрудник
                      <v-spacer></v-spacer>
                    </v-sheet>
                    <v-card class="mx-auto mb-3" max-width="90%" outlined>
                      <v-list-item class="myCard" three-line>
                        <v-list-item-avatar tile size="200px"> 
                          <v-img src="img/IMG20201221121328.jpg"></v-img>
                        </v-list-item-avatar>
                        <v-list-item-content>
                            <div class="text-h5 mb-1">
                              Шадринцев Илья Русланович
                            </div>
                            <div class="mb-4">web разработчик</div>
                            <div class="mb-4">без ценный</div>
                            <v-list-item-subtitle>последние место работы</v-list-item-subtitle>
                            <div class="mb-4">
                                ООО «Сибирская электротехническая компания» · Октябрь 2008 — по настоящее время
                            </div>
                            <div>
                              Отклик 7 сентября 2023 <v-list-item-subtitle>· Обновлено 16 декабря 2016 · Был на сайте более двух недель назад </v-list-item-subtitle>
                          </div>
                        </v-list-item-content>
                      </v-list-item>
                  
                      <v-card-actions>
                        <v-btn style="margin-left: 10px;padding:0px 24px;background-color: rgb(109, 174, 129);color: white;">
                          смотреть резюме
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                </v-sheet>
            <v-divider vertical ></v-divider>
            <v-sheet class="pl-4 ma-1 option" id="option">
                  <h3 class="mb-3">условия поиска</h3>
                  <v-list-item-subtitle class="mb-3">сбросить всё</v-list-item-subtitle>
                <v-divider></v-divider>
                  <v-select
                  v-model="value"
                  :items="items"
                  clearable
                  chips
                  label="Введите название"
                  multiple
                  persistent-hint
                ></v-select>
                <v-divider></v-divider>
                  <v-label>Активность соискателей</v-label>
                  <v-sheet class="d-flex flex-row">
                    <v-sheet>
                      <v-text-field   v-model="start" type="date" outlined></v-text-field>
                    </v-sheet>
                    <v-sheet class="ma-3">                    
                      <v-icon x-large>mdi-arrow-right</v-icon>
                    </v-sheet>
                    <v-sheet >
                      <v-text-field v-model="end" type="date" outlined></v-text-field>
                    </v-sheet>
                  </v-sheet>
                    <v-checkbox
                    v-model="ex4"
                    label="Публикация резюме"
                    color="success"
                    value="success"
                    hide-details
                  ></v-checkbox>
                  <v-checkbox
                  v-model="ex"
                  label="Обновления резюме"
                  color="success"
                  value="success"
                  hide-details
                ></v-checkbox>
                <v-divider></v-divider>
              </v-sheet>
            </v-sheet>

                  
      </v-main>
    </v-app>
  </div>
  
  
  
  
  
  
  <script src="js/index.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        items: ['foo', 'bar', 'fizz', 'buzz', "asadsasdd","asdasdasdasasd","asdas",'zxczxczx'],
        }),
      })
  </script>
</html>